<%= form_for(@window) do |f| %>
  <% if @window.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@window.errors.count, "error") %> prohibited this window from being saved:</h2>

      <ul>
      <% @window.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day_of_week %><br />
    <%= f.text_field :day_of_week %>
  </div>
  <div class="field">
    <%= f.label :time_block %><br />
    <%= f.text_field :time_block %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
