<h1>Listing windows</h1>

<table>
  <tr>
    <th>Day of week</th>
    <th>Time block</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @windows.each do |window| %>
  <tr>
    <td><%= window.day_of_week %></td>
    <td><%= window.time_block %></td>
    <td><%= window.date %></td>
    <td><%= link_to 'Show', window %></td>
    <td><%= link_to 'Edit', edit_window_path(window) %></td>
    <td><%= link_to 'Destroy', window, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Window', new_window_path %>
