<h1>Listing truck_tags</h1>

<table>
  <tr>
    <th>Truck</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @truck_tags.each do |truck_tag| %>
  <tr>
    <td><%= truck_tag.truck_id %></td>
    <td><%= truck_tag.tag_id %></td>
    <td><%= link_to 'Show', truck_tag %></td>
    <td><%= link_to 'Edit', edit_truck_tag_path(truck_tag) %></td>
    <td><%= link_to 'Destroy', truck_tag, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Truck tag', new_truck_tag_path %>
